BasedOnStyle: Google
TypenameMacros:
  - PG_FUNCTION_INFO_V1
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
IncludeBlocks: Regroup
# A few special PostgreSQL include files are in the first group but
# need to be in a specific order to work correctly.
IncludeCategories:
  - Regex: '<postgres.h>'
    Priority: 1
    SortPriority: 1
  - Regex: '<fmgr.h>'
    Priority: 1
    SortPriority: 2
  - Regex: '<(storage|utils|regex|partitioning|foreign|extension|common|libpq|access|lib|catalog|commands|nodes|optimizer|datatype|fe_utils|jit|mb|replication|snowball|tcop|bootstrap|executor|lib|parser|port|postmaster|rewrite|statistics|tsearch)/.*>'
    Priority: 3
    SortPriority: 3
  - Regex: '<(c|funcapi|plpgsql|port|postgres|windowapi|getaddrinfo|miscadmin|pgtime|postgres_ext|getopt_long|pgstat|postgres_fe|rusagestub)\.h>'
    Priority: 3
    SortPriority: 3
  - Regex: '<pg_(config_ext|config_os|config|getopt|config_manual|trace)\.h>'
    Priority: 3
    SortPriority: 3

    # These are assumed to be system include files
  - Regex: '<.*>'
    Priority: 4
    SortPriority: 4

    # These are assumed to be project include files
  - Regex: '".*"'
    Priority: 5
    SortPriority: 5

IndentWidth: 4
TabWidth: 4
UseTab: Never
SortIncludes: false

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: MultiLine
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: true
  BeforeLambdaBody: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: true
ColumnLimit: 120
CompactNamespaces: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
FixNamespaceComments: true
IndentCaseBlocks: false
IndentCaseLabels: false
IndentGotoLabels: false
IndentPPDirectives: None
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PenaltyBreakAssignment: 10
PenaltyBreakBeforeFirstCallParameter: 10
PenaltyBreakComment: 10
PenaltyBreakFirstLessLess: 10
PenaltyBreakString: 10
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 10
PenaltyReturnTypeOnItsOwnLine: 10
PointerAlignment: Left
ReflowComments: true
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
UseCRLF: false
QualifierAlignment: Left

