CompileFlags:
  Add: 
    - "-I/usr/include/postgresql/17/server"
    - "-I/usr/include/postgresql/17"
    - "-I/usr/include/postgresql/internal"
    - "-I/usr/include/postgresql"
    - "-D__STDC_FORMAT_MACROS"
    - "-D__STDC_LIMIT_MACROS"
    - "-D__STDC_CONSTANT_MACROS"
    - "-D_GNU_SOURCE"
    - "-D__USE_POSIX"
    - "-D__USE_POSIX2"
    - "-D__USE_POSIX199309"
    - "-D__USE_POSIX199506"
    - "-D__USE_XOPEN"
    - "-D__USE_XOPEN_EXTENDED"
    - "-D__USE_UNIX98"
    - "-D__USE_XOPEN2K"
    - "-D__USE_XOPEN2K8"
    - "-D__USE_LARGEFILE"
    - "-D__USE_LARGEFILE64"
    - "-D__USE_FILE_OFFSET64"
    - "-D__USE_MISC"
    - "-D__USE_BSD"
    - "-D__USE_SVID"
    - "-D__USE_ATFILE"
    - "-D__USE_GNU"
    - "-D__USE_REENTRANT"
    - "-D__USE_FORTIFY_LEVEL=0"
    - "-D__USE_ISOC11"
    - "-D__USE_ISOC99"
    - "-D__USE_ISOC95"
  CompilationDatabase: ./compile_commands.json
Index:
  Exclude:
    - "build*/_deps/**"
    - "**/build*/_deps/**"
    - "_deps/**"