---
Checks: '-*,bugprone-*,clang-analyzer-*,performance-*,cert-*,cppcoreguidelines-*,google-*,hicpp-*,misc-*,modernize-*,mpi-*,openmp-*,portability-*,readability-*'

WarningsAsErrors: 'modernize-use-auto,readability-function-size'

CheckOptions:
  - key: modernize-use-auto.MinTypeNameLength
    value: 1
  - key: readability-identifier-naming.TypeTemplateParameterIgnoredRegexp
    value: expr-type
  - key: readability-function-cognitive-complexity.Threshold
    value: '5000'