CompileFlags:
  Add: 
    - "-I/home/zel/repos/pgx-lower/build-artifacts/clion-sysroot/usr/local/pgsql/include/server"
    - "-I/home/zel/repos/pgx-lower/build-artifacts/clion-sysroot/usr/local/pgsql/include"
    - "-I/home/zel/repos/pgx-lower/build-artifacts/clion-sysroot/usr/lib/llvm-20/include"
    - "-I/home/zel/repos/pgx-lower/build-artifacts/ptest/include"
    - "-I/home/zel/repos/pgx-lower/include"
    - "-I/home/zel/repos/pgx-lower/vendored"
    - "-I/home/zel/repos/pgx-lower/extension"
    - "-I/home/zel/repos/pgx-lower/src"
    - "-isystem"
    - "/home/zel/repos/pgx-lower/build-artifacts/clion-sysroot/usr/include/c++/14"
    - "-isystem"
    - "/home/zel/repos/pgx-lower/build-artifacts/clion-sysroot/usr/include/x86_64-linux-gnu/c++/14"
    - "-isystem"
    - "/home/zel/repos/pgx-lower/build-artifacts/clion-sysroot/usr/include/c++/14/backward"
    - "-isystem"
    - "/home/zel/repos/pgx-lower/build-artifacts/clion-sysroot/usr/lib/llvm-20/lib/clang/20/include"
    - "-isystem"
    - "/home/zel/repos/pgx-lower/build-artifacts/clion-sysroot/usr/local/include"
    - "-isystem"
    - "/home/zel/repos/pgx-lower/build-artifacts/clion-sysroot/usr/include/x86_64-linux-gnu"
    - "-isystem"
    - "/home/zel/repos/pgx-lower/build-artifacts/clion-sysroot/usr/include"
    - "-D__STDC_FORMAT_MACROS"
    - "-D__STDC_LIMIT_MACROS"
    - "-D__STDC_CONSTANT_MACROS"
    - "-D_GNU_SOURCE"
    - "-D__USE_POSIX"
    - "-D__USE_POSIX2"
    - "-D__USE_POSIX199309"
    - "-D__USE_POSIX199506"
    - "-D__USE_XOPEN"
    - "-D__USE_XOPEN_EXTENDED"
    - "-D__USE_UNIX98"
    - "-D__USE_XOPEN2K"
    - "-D__USE_XOPEN2K8"
    - "-D__USE_LARGEFILE"
    - "-D__USE_LARGEFILE64"
    - "-D__USE_FILE_OFFSET64"
    - "-D__USE_MISC"
    - "-D__USE_BSD"
    - "-D__USE_SVID"
    - "-D__USE_ATFILE"
    - "-D__USE_GNU"
    - "-D__USE_REENTRANT"
    - "-D__USE_FORTIFY_LEVEL=0"
    - "-D__USE_ISOC11"
    - "-D__USE_ISOC99"
    - "-D__USE_ISOC95"
  CompilationDatabase: ./compile_commands.json
Index:
  Exclude:
    - "build*/_deps/**"
    - "**/build*/_deps/**"
    - "_deps/**"
